@import "./module/navbar.css";
@import "./module/footer.css";

/*---------------------------------------------
                    hedader
-----------------------------------------------*/

.sub-header h1{
  color: #fff;
  font-size: 30px;
  padding-top: 50px;
  text-shadow: 1px 2px 2px rgba(52,85,43,0.8);
}

/*---------------------------------------------
                    box
---------------------------------------------*/
.box-large.ideal .box-content, .box-large.aboutus .box-content{
  height: auto;
  overflow: initial;
  background-color: white;
}

.box-large2.ideal .box-content, .box-large2.aboutus .box-content{
  height: auto;
  overflow: initial;
  background-color: #F5F5F5;
}

.ideal .box-content p{
  padding: 0px 60px;
  line-height: 1.8;
}

.box-content{
  padding-top: 60px; /* 打ち消し用のパディング */
}

.box li{
  font-size: 20px;
}

.sentens {
display: inline-block;
width: auto;
}

.box img{
  border: solid 1px #ccc;
  border-radius: 6%;
}

/*------------table--------------*/
table th{
  background-color: #cccccc;
  text-align: center;
  font-size: 20px;
}

table td{
  font-size: 20px;
}

table{
  border-collapse: collapse;
  width: 1000px;
  text-align: center;
}
